.fin-container {
    display: block;
    width: 100%;
    height: 100vh;
    .navbar {
        height: 50px;
        border-bottom: 1px solid #E4E4E7;
    }
    .content-container{
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    p {
        color: black;
        font-family: "Noto Sans"; 
    }
    p.fin-title {
        margin-top: 16px;
        font-family: "Noto Sans Bold";
        font-size: 26px;
        margin-bottom: 20px;
    }
    .fin-text {
        font-size: 16px;
        margin-bottom: 40px;
        font-family: "Noto Sans";
    }
}