.read-container {
    display: block;
    width: 100%;
    .navbar {
        height: 50px;
        border-bottom: 1px solid #E4E4E7;
    }
    .content-container{
        margin-top: 50px;
        margin-left: 100px;
        width: 60%;
    }
    p {
        // color: black;
        font-family: "Noto Sans"; 
    }
    p.read-title {
        margin-top: 16px;
        font-family: "Noto Sans Bold";
        font-size: 26px;
        margin-bottom: 16px;
    }
    .read-text {
        margin-bottom: 16px;
        font-family: "Noto Sans";
        line-height: 1.5;
    }
}


button.read-btn {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #0D7D4D;
    color: #0D7D4D;
    background: #EEF7E5;
    min-width: 100px;
    font-size: 16px;
    font-family: "Noto Sans";
    position: fixed;
    // left: 1050px;
    right: 50px;
    align-content: end;
    bottom: 50px;
    outline: none;
    &:hover {
        background: #474b49;
        color: #EEF7E5;
        cursor: pointer;
    }
}