.style-1 {
    font-size: 16px;
    text-align: left;
}

.style-2 {
    font-size: 19px;
    text-align: left;
}

.style-3 {
    font-size: 16px;
    text-align: justify;
}

.style-0 {
    font-size: 19px;
    text-align: justify;
}

.dark {
    background-color: #121212;
    color: white;
}
